In [3]:
import sqlite3
conn = sqlite3.connect('nominations.db')

In [4]:
schema=conn.execute('pragma table_info(nominations);').fetchall()

In [5]:
first_ten=conn.execute('select * from nominations limit 10;').fetchall()

In [6]:
for elem in first_ten:
    print(elem)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)
(6, 'Actor -- Supporting Role', 'Christian Bale', 'The Fighter', 'Dicky Eklund', '1', 1)
(7, 'Actor -- Supporting Role', 'John Hawkes', "Winter's Bone", 'Teardrop', '0', 1)
(8, 'Actor -- Supporting Role', 'Jeremy Renner', 'The Town', 'James Coughlin', '0', 1)
(9, 'Actor -- Supporting Role', 'Mark Ruffalo', 'The Kids Are All Right', 'Paul', '0', 1)
(10, 'Actor -- Supporting Role', 'Geoffrey Rush', "The King's Speech", 'Lionel Logue', '0', 1)

In [7]:
sql = 'create table ceremonies (id integer primary key, Year integer, Host text)'
conn.execute(sql).fetchall()

OperationalError: table ceremonies already exists

In [ ]:
conn.execute('pragma table_info(ceremonies);').fetchall()

In [ ]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"

In [ ]:
conn.executemany(insert_query, years_hosts)

In [ ]:
#sql = 'delete from ceremonies'
#conn.execute(sql).fetchall()
sql = 'select * from ceremonies'
conn.execute(sql).fetchall()

#### Foreign Key Constraints

In [ ]:
sql = 'PRAGMA foreign_keys = ON'
conn.execute(sql).fetchall()

#### Setting OneToMany relation

In [ ]:
sql = 'create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won text, ceremony_id, FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id))'
conn.execute(sql).fetchall()

In [ ]:
conn.execute('pragma table_info(nominations_two);').fetchall()

In [ ]:
sql='SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id FROM nominations INNER JOIN ceremonies ON nominations.year == ceremonies.year;'
joined_nominations = conn.execute(sql).fetchall()

##### insert into new table with foreign keys

In [ ]:
insert_query2 = "INSERT INTO nominations_two (category, nominee, movie, character, won, ceremony_id) VALUES (?,?,?,?,?,?);"
conn.executemany(insert_query2, joined_nominations)

In [8]:
sql = 'select * from nominations_two limit 5'
conn.execute(sql).fetchall()

OperationalError: no such table: nominations_two

#### Deleting And Renaming Tables

In [ ]:
sql = 'drop table nominations'
conn.execute(sql).fetchall()

In [ ]:
sql = 'alter table nominations_two rename to nominations'
conn.execute(sql).fetchall()

#### Creating A Join Table

In [ ]:
sql = 'create table movies(id integer primary key, movie text)'
conn.execute(sql).fetchall()
sql = 'create table actors(id integer primary key, actor text)'
conn.execute(sql).fetchall()

In [ ]:
sql = 'create table movies_actors(id integer primary key, movie_id integer, actor_id integer, foreign key(movie_id) references movies(id), foreign key(actor_id) references actors(id))'
conn.execute(sql).fetchall()

#### Fill up join tables

In [ ]:
sql = 'select distinct movie from nominations'
movies_list = conn.execute(sql).fetchall()
sql = 'select distinct nominee from nominations'
actors_list = conn.execute(sql).fetchall()

In [ ]:
insert_movies = "INSERT INTO movies (movie) VALUES (?);"
conn.executemany(insert_movies, movies_list)
sql = 'select * from movies'
conn.execute(sql).fetchall()

In [ ]:
insert_actors = "INSERT INTO actors (actor) VALUES (?);"
conn.executemany(insert_actors, actors_list)
sql = 'select * from actors'
conn.execute(sql).fetchall()

In [ ]:
sql='SELECT movies.id, actors.id FROM nominations INNER JOIN actors ON actors.actor == nominations.nominee INNER JOIN movies ON movies.movie == nominations.movie'
joined_movies_actors = conn.execute(sql).fetchall()

In [ ]:
insert_movies_actors = "INSERT INTO movies_actors (movie_id, actor_id) VALUES (?,?);"
conn.executemany(insert_movies_actors, joined_movies_actors)

In [ ]:
sql='SELECT * FROM movies_actors'
conn.execute(sql).fetchall()

#### Add movie_actor id into nominations table

In [ ]:
sql = 'create table nominations_three(id integer primary key, category text, character text, won text, ceremony_id int, movie_actor_id integer, FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id), FOREIGN KEY(movie_actor_id) REFERENCES movie_actors(id))'
conn.execute(sql).fetchall()

In [ ]:
sql = 'PRAGMA table_info(nominations_three)'
conn.execute(sql).fetchall()

In [10]:
sql = 'select category, character, won, ceremony_id, movies_actors.id from nominations inner join actors on actors.actor == nominations.nominee inner join movies on movies.movie == nominations.movie inner join movies_actors on movies_actors.movie_id == movies.id and movies_actors.actor_id == actors.id'
joined_movies_actors = conn.execute(sql).fetchall()

In [11]:
insert_movies_actors = "INSERT INTO nominations_three (category, character, won, ceremony_id, movie_actor_id) VALUES (?,?,?,?,?);"
conn.executemany(insert_movies_actors, joined_movies_actors)

In [14]:
sql = 'select * from nominations_three'
conn.execute(sql).fetchall()

[(1, 'Actor -- Leading Role', 'Uxbal', '0', 1, 1),
 (2, 'Actor -- Leading Role', 'Rooster Cogburn', '0', 1, 2),
 (3, 'Actor -- Leading Role', 'Mark Zuckerberg', '0', 1, 3),
 (4, 'Actor -- Leading Role', 'King George VI', '1', 1, 4),
 (5, 'Actor -- Leading Role', 'Aron Ralston', '0', 1, 5),
 (6, 'Actor -- Supporting Role', 'Dicky Eklund', '1', 1, 6),
 (7, 'Actor -- Supporting Role', 'Teardrop', '0', 1, 7),
 (8, 'Actor -- Supporting Role', 'James Coughlin', '0', 1, 8),
 (9, 'Actor -- Supporting Role', 'Paul', '0', 1, 9),
 (10, 'Actor -- Supporting Role', 'Lionel Logue', '0', 1, 10),
 (11, 'Actress -- Leading Role', 'Nic', '0', 1, 11),
 (12, 'Actress -- Leading Role', 'Becca', '0', 1, 12),
 (13, 'Actress -- Leading Role', 'Ree', '0', 1, 13),
 (14, 'Actress -- Leading Role', 'Nina Sayers/The Swan Queen', '1', 1, 14),
 (15, 'Actress -- Leading Role', 'Cindy', '0', 1, 15),
 (16, 'Actress -- Supporting Role', 'Charlene Fleming', '0', 1, 16),
 (17, 'Actress -- Supporting Role', 'Queen Elizabeth', '0', 1, 17),
 (18, 'Actress -- Supporting Role', 'Alice Ward', '1', 1, 18),
 (19, 'Actress -- Supporting Role', 'Mattie Ross', '0', 1, 19),
 (20, 'Actress -- Supporting Role', "Janine 'Smurf' Cody", '0', 1, 20),
 (21, 'Actor -- Leading Role', 'Bad Blake', '1', 2, 21),
 (22, 'Actor -- Leading Role', 'Ryan Bingham', '0', 2, 22),
 (23, 'Actor -- Leading Role', 'George', '0', 2, 23),
 (24, 'Actor -- Leading Role', 'Nelson Mandela', '0', 2, 24),
 (25, 'Actor -- Leading Role', 'Staff Sergeant William James', '0', 2, 25),
 (26, 'Actor -- Supporting Role', 'Francois Pienaar', '0', 2, 26),
 (27, 'Actor -- Supporting Role', 'Captain Tony Stone', '0', 2, 27),
 (28, 'Actor -- Supporting Role', 'Tolstoy', '0', 2, 28),
 (29, 'Actor -- Supporting Role', 'George Harvey', '0', 2, 29),
 (30, 'Actor -- Supporting Role', 'Col. Hans Landa', '1', 2, 30),
 (31, 'Actress -- Leading Role', 'Leigh Anne Tuohy', '1', 2, 31),
 (32, 'Actress -- Leading Role', 'Sofya', '0', 2, 32),
 (33, 'Actress -- Leading Role', 'Jenny', '0', 2, 33),
 (34, 'Actress -- Leading Role', 'Precious', '0', 2, 34),
 (35, 'Actress -- Leading Role', 'Julia Child', '0', 2, 35),
 (36, 'Actress -- Supporting Role', 'Carla', '0', 2, 36),
 (37, 'Actress -- Supporting Role', 'Alex Goran', '0', 2, 37),
 (38, 'Actress -- Supporting Role', 'Jean Craddock', '0', 2, 38),
 (39, 'Actress -- Supporting Role', 'Natalie Keener', '0', 2, 39),
 (40, 'Actress -- Supporting Role', 'Mary', '1', 2, 40),
 (41, 'Actor -- Leading Role', 'Walter', '0', 3, 41),
 (42, 'Actor -- Leading Role', 'Richard Nixon', '0', 3, 42),
 (43, 'Actor -- Leading Role', 'Harvey Milk', '1', 3, 43),
 (44, 'Actor -- Leading Role', 'Benjamin Button', '0', 3, 44),
 (45, 'Actor -- Leading Role', 'Randy', '0', 3, 45),
 (46, 'Actor -- Supporting Role', 'Dan White', '0', 3, 46),
 (47, 'Actor -- Supporting Role', 'Kirk Lazarus', '0', 3, 47),
 (48, 'Actor -- Supporting Role', 'Father Brendan Flynn', '0', 3, 48),
 (49, 'Actor -- Supporting Role', 'Joker', '1', 3, 49),
 (50, 'Actor -- Supporting Role', 'John Givings', '0', 3, 50),
 (51, 'Actress -- Leading Role', 'Kym', '0', 3, 51),
 (52, 'Actress -- Leading Role', 'Christine Collins', '0', 3, 52),
 (53, 'Actress -- Leading Role', 'Ray Eddy', '0', 3, 53),
 (54, 'Actress -- Leading Role', 'Sister Aloysius Beauvier', '0', 3, 54),
 (55, 'Actress -- Leading Role', 'Hanna Schmitz', '1', 3, 55),
 (56, 'Actress -- Supporting Role', 'Sister James', '0', 3, 56),
 (57, 'Actress -- Supporting Role', 'Maria Elena', '1', 3, 57),
 (58, 'Actress -- Supporting Role', 'Mrs. Miller', '0', 3, 58),
 (59, 'Actress -- Supporting Role', 'Queenie', '0', 3, 59),
 (60, 'Actress -- Supporting Role', 'Cassidy', '0', 3, 60),
 (61, 'Actor -- Leading Role', 'Michael Clayton', '0', 4, 61),
 (62, 'Actor -- Leading Role', 'Daniel Plainview', '1', 4, 62),
 (63, 'Actor -- Leading Role', 'Sweeney Todd', '0', 4, 63),
 (64, 'Actor -- Leading Role', 'Hank Deerfield', '0', 4, 64),
 (65, 'Actor -- Leading Role', 'Nikolai', '0', 4, 65),
 (66, 'Actor -- Supporting Role', 'Robert Ford', '0', 4, 66),
 (67, 'Actor -- Supporting Role', 'Anton Chigurh', '1', 4, 67),
 (68, 'Actor -- Supporting Role', 'Gust Avrakotos', '0', 4, 68),
 (69, 'Actor -- Supporting Role', 'Ron Franz', '0', 4, 69),
 (70, 'Actor -- Supporting Role', 'Arthur Edens', '0', 4, 70),
 (71, 'Actress -- Leading Role', 'Queen Elizabeth I', '0', 4, 71),
 (72, 'Actress -- Leading Role', 'Fiona', '0', 4, 72),
 (73, 'Actress -- Leading Role', 'Edith Piaf', '1', 4, 73),
 (74, 'Actress -- Leading Role', 'Wendy Savage', '0', 4, 74),
 (75, 'Actress -- Leading Role', 'Juno MacGuff', '0', 4, 75),
 (76, 'Actress -- Supporting Role', 'Jude', '0', 4, 76),
 (77, 'Actress -- Supporting Role', 'Mama Lucas', '0', 4, 77),
 (78, 'Actress -- Supporting Role', 'Briony Tallis, aged 13', '0', 4, 78),
 (79, 'Actress -- Supporting Role', 'Helene McCready', '0', 4, 79),
 (80, 'Actress -- Supporting Role', 'Karen Crowder', '1', 4, 80),
 (81, 'Actor -- Leading Role', 'Danny Archer', '0', 5, 81),
 (82, 'Actor -- Leading Role', 'Dan Dunne', '0', 5, 82),
 (83, 'Actor -- Leading Role', 'Maurice', '0', 5, 83),
 (84, 'Actor -- Leading Role', 'Chris Gardner', '0', 5, 84),
 (85, 'Actor -- Leading Role', 'Idi Amin', '1', 5, 85),
 (86, 'Actor -- Supporting Role', 'Grandpa', '1', 5, 86),
 (87, 'Actor -- Supporting Role', 'Ronnie J. McGorvey', '0', 5, 87),
 (88, 'Actor -- Supporting Role', 'Solomon Vandy', '0', 5, 88),
 (89, 'Actor -- Supporting Role', "James 'Thunder' Early", '0', 5, 89),
 (90, 'Actor -- Supporting Role', 'Dignam', '0', 5, 90),
 (91, 'Actress -- Leading Role', 'Raimunda', '0', 5, 91),
 (92, 'Actress -- Leading Role', 'Barbara Covett', '0', 5, 92),
 (93, 'Actress -- Leading Role', 'The Queen', '1', 5, 93),
 (94, 'Actress -- Leading Role', 'Miranda Priestly', '0', 5, 94),
 (95, 'Actress -- Leading Role', 'Sarah Pierce', '0', 5, 95),
 (96, 'Actress -- Supporting Role', 'Amelia', '0', 5, 96),
 (97, 'Actress -- Supporting Role', 'Sheba Hart', '0', 5, 97),
 (98, 'Actress -- Supporting Role', 'Olive', '0', 5, 98),
 (99, 'Actress -- Supporting Role', 'Effie White', '1', 5, 99),
 (100, 'Actress -- Supporting Role', 'Chieko', '0', 5, 100),
 (101, 'Actor -- Leading Role', 'Truman Capote', '1', 6, 101),
 (102, 'Actor -- Leading Role', 'DJay', '0', 6, 102),
 (103, 'Actor -- Leading Role', 'Ennis Del Mar', '0', 6, 103),
 (104, 'Actor -- Leading Role', 'John R. Cash', '0', 6, 104),
 (105, 'Actor -- Leading Role', 'Edward R. Murrow', '0', 6, 105),
 (106, 'Actor -- Supporting Role', 'Bob Barnes', '1', 6, 106),
 (107, 'Actor -- Supporting Role', 'Officer Ryan', '0', 6, 107),
 (108, 'Actor -- Supporting Role', 'Joe Gould', '0', 6, 108),
 (109, 'Actor -- Supporting Role', 'Jack Twist', '0', 6, 109),
 (110, 'Actor -- Supporting Role', 'Richie Cusack', '0', 6, 110),
 (111, 'Actress -- Leading Role', 'Mrs. Laura Henderson', '0', 6, 111),
 (112, 'Actress -- Leading Role', 'Bree', '0', 6, 112),
 (113, 'Actress -- Leading Role', 'Elizabeth Bennet', '0', 6, 113),
 (114, 'Actress -- Leading Role', 'Josey Aimes', '0', 6, 114),
 (115, 'Actress -- Leading Role', 'June Carter', '1', 6, 115),
 (116, 'Actress -- Supporting Role', 'Ashley', '0', 6, 116),
 (117, 'Actress -- Supporting Role', 'Nelle Harper Lee', '0', 6, 117),
 (118, 'Actress -- Supporting Role', 'Glory', '0', 6, 118),
 (119, 'Actress -- Supporting Role', 'Tessa Quayle', '1', 6, 119),
 (120, 'Actress -- Supporting Role', 'Alma', '0', 6, 120),
 (121, 'Actor -- Leading Role', 'Paul Rusesabagina', '0', 7, 121),
 (122, 'Actor -- Leading Role', 'Sir James Matthew Barrie', '0', 7, 122),
 (123, 'Actor -- Leading Role', 'Howard Hughes', '0', 7, 123),
 (124, 'Actor -- Leading Role', 'Frankie Dunn', '0', 7, 124),
 (125, 'Actor -- Leading Role', 'Ray Charles', '1', 7, 125),
 (126, 'Actor -- Supporting Role', 'Senator Ralph Owen Brewster', '0', 7, 126),
 (127, 'Actor -- Supporting Role', 'Jack', '0', 7, 127),
 (128, 'Actor -- Supporting Role', 'Max', '0', 7, 128),
 (129, 'Actor -- Supporting Role', 'Eddie Scrap-Iron Dupris', '1', 7, 129),
 (130, 'Actor -- Supporting Role', 'Larry', '0', 7, 130),
 (131, 'Actress -- Leading Role', 'Julia Lambert', '0', 7, 131),
 (132, 'Actress -- Leading Role', 'Maria', '0', 7, 132),
 (133, 'Actress -- Leading Role', 'Vera', '0', 7, 133),
 (134, 'Actress -- Leading Role', 'Maggie Fitzgerald', '1', 7, 134),
 (135, 'Actress -- Leading Role', 'Clementine Kruczynski', '0', 7, 135),
 (136, 'Actress -- Supporting Role', 'Katharine Hepburn', '1', 7, 136),
 (137, 'Actress -- Supporting Role', 'Clara McMillen', '0', 7, 137),
 (138, 'Actress -- Supporting Role', 'Maya', '0', 7, 138),
 (139, 'Actress -- Supporting Role', 'Tatiana Rusesabagina', '0', 7, 139),
 (140, 'Actress -- Supporting Role', 'Alice', '0', 7, 140),
 (141, 'Actor -- Leading Role', 'Jack Sparrow', '0', 8, 141),
 (142, 'Actor -- Leading Role', 'Behrani', '0', 8, 142),
 (143, 'Actor -- Leading Role', 'Inman', '0', 8, 143),
 (144, 'Actor -- Leading Role', 'Bob Harris', '0', 8, 144),
 (145, 'Actor -- Leading Role', 'Jimmy Markum', '1', 8, 145),
 (146, 'Actor -- Supporting Role', 'Shelly Kaplow', '0', 8, 146),
 (147, 'Actor -- Supporting Role', 'Jack Jordan', '0', 8, 147),
 (148, 'Actor -- Supporting Role', 'Mateo', '0', 8, 148),
 (149, 'Actor -- Supporting Role', 'Dave Boyle', '1', 8, 149),
 (150, 'Actor -- Supporting Role', 'Katsumoto', '0', 8, 150),
 (151, 'Actress -- Leading Role', 'Paikea', '0', 8, 151),
 (152, 'Actress -- Leading Role', 'Erica Barry', '0', 8, 152),
 (153, 'Actress -- Leading Role', 'Sarah', '0', 8, 153),
 (154, 'Actress -- Leading Role', 'Aileen Wuornos', '1', 8, 154),
 (155, 'Actress -- Leading Role', 'Cristina Peck', '0', 8, 155),
 (156, 'Actress -- Supporting Role', 'Nadi', '0', 8, 156),
 (157, 'Actress -- Supporting Role', 'Joy Burns', '0', 8, 157),
 (158, 'Actress -- Supporting Role', 'Celeste Boyle', '0', 8, 158),
 (159, 'Actress -- Supporting Role', 'Melanie', '0', 8, 159),
 (160, 'Actress -- Supporting Role', 'Ruby Thewes', '1', 8, 160),
 (161, 'Actor -- Leading Role', 'Wladyslaw Szpilman', '1', 9, 161),
 (162,
  'Actor -- Leading Role',
  'Charlie Kaufman & Donald Kaufman',
  '0',
  9,
  162),
 (163, 'Actor -- Leading Role', 'Thomas Fowler', '0', 9, 163),
 (164, 'Actor -- Leading Role', "Bill 'The Butcher' Cutting", '0', 9, 164),
 (165, 'Actor -- Leading Role', 'Warren Schmidt', '0', 9, 165),
 (166, 'Actor -- Supporting Role', 'John Laroche', '1', 9, 166),
 (167, 'Actor -- Supporting Role', 'Richard Brown', '0', 9, 167),
 (168, 'Actor -- Supporting Role', 'John Rooney', '0', 9, 168),
 (169, 'Actor -- Supporting Role', 'Amos Hart', '0', 9, 169),
 (170, 'Actor -- Supporting Role', 'Frank Abagnale', '0', 9, 170),
 (171, 'Actress -- Leading Role', 'Frida Kahlo', '0', 9, 171),
 (172, 'Actress -- Leading Role', 'Virginia Woolf', '1', 9, 172),
 (173, 'Actress -- Leading Role', 'Connie Sumner', '0', 9, 173),
 (174, 'Actress -- Leading Role', 'Cathy Whitaker', '0', 9, 174),
 (175, 'Actress -- Leading Role', 'Roxie Hart', '0', 9, 175),
 (176, 'Actress -- Supporting Role', 'Roberta Hertzel', '0', 9, 176),
 (177, 'Actress -- Supporting Role', 'Laura Brown', '0', 9, 177),
 (178, 'Actress -- Supporting Role', 'Matron Mama Morton', '0', 9, 178),
 (179, 'Actress -- Supporting Role', 'Susan Orlean', '0', 9, 179),
 (180, 'Actress -- Supporting Role', 'Velma Kelly', '1', 9, 180),
 (181, 'Actor -- Leading Role', 'John Nash', '0', 10, 181),
 (182, 'Actor -- Leading Role', 'Sam Dawson', '0', 10, 182),
 (183, 'Actor -- Leading Role', 'Muhammad Ali', '0', 10, 183),
 (184, 'Actor -- Leading Role', 'Alonzo', '1', 10, 184),
 (185, 'Actor -- Leading Role', 'Matt Fowler', '0', 10, 185),
 (186, 'Actor -- Supporting Role', 'John Bayley', '1', 10, 186),
 (187, 'Actor -- Supporting Role', 'Jake', '0', 10, 187),
 (188, 'Actor -- Supporting Role', 'Don Logan', '0', 10, 188),
 (189, 'Actor -- Supporting Role', 'Gandalf', '0', 10, 189),
 (190, 'Actor -- Supporting Role', 'Howard Cosell', '0', 10, 190),
 (191, 'Actress -- Leading Role', 'Leticia Musgrove', '1', 10, 191),
 (192, 'Actress -- Leading Role', 'Iris Murdoch', '0', 10, 192),
 (193, 'Actress -- Leading Role', 'Satine', '0', 10, 193),
 (194, 'Actress -- Leading Role', 'Ruth Fowler', '0', 10, 194),
 (195, 'Actress -- Leading Role', 'Bridget Jones', '0', 10, 195),
 (196, 'Actress -- Supporting Role', 'Alicia Nash', '1', 10, 196),
 (197, 'Actress -- Supporting Role', 'Mrs. Wilson', '0', 10, 197),
 (198,
  'Actress -- Supporting Role',
  'Constance, Countess of Trentham',
  '0',
  10,
  198),
 (199, 'Actress -- Supporting Role', 'Natalie Strout', '0', 10, 199),
 (200, 'Actress -- Supporting Role', 'Young Iris Murdoch', '0', 10, 200)]